section#about.about 
	.container 
		.about__box
			.about__content 
				h6.about__title.section-title Привет, #[br] #[b я Макс Орлов]
				p.about__text Несколько лет назад я переехал жить в Турцию. За много лет я очень хорошо изучил эту страну и ее районы, поэтому смогу помочь тебе с подбором и выбором лучшего предложения для покупки недвижимости.
				p.about__text Несколько лет назад я переехал жить в Турцию. За много лет я очень хорошо изучил эту страну и ее районы, поэтому смогу помочь тебе с подбором и выбором лучшего предложения для покупки недвижимости.
				p.about__text Несколько лет назад я переехал жить в Турцию. За много лет я очень хорошо изучил эту страну и ее районы, поэтому смогу помочь тебе с подбором и выбором лучшего предложения для покупки недвижимости.