footer.footer 
	.container 
		.footer__box 
			a.footer__link(href="/") Пользовательские соглашения 
			a.footer__link(href="/") Политика конфиденциальности
			.dev 
				p.dev__text Создание сайта
				//- p.dev__name SCRUM 360
				a(href="https://scrum360.ru/") 	
					img(src="img/scrum-logo.png", alt="/")