section.home#home 
	.container.home__box 
		h1.home__title Квартиры у моря #[br] #[b от 49 000 евро] 
		p.home__tagtitle Оставьте заявку и мы подберем #[br] для Вас #[b лучшее предложение]
		button.home__button(data-popup="popup" data-src="#modal-form") Подобрать квартиру
		.home__advantages 
			each item in ['<b>Беспроцентная рассрочка</b> на весь период строительства вашего комплекса','<b>Консультации по выгодному</b> инвестированию для перепродажи, аренды или жизни','<b>Удобные графики платежей,</b> презентация и покупка в режиме “онлайн”','<b>Сопровождение</b> нашими специалистами на протяжении всего срока сделки']
				.home__advantage !{item}