// jquery
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")

// inputmask 
script(src="https://rawgit.com/RobinHerbots/Inputmask/5.x/dist/jquery.inputmask.js")

// slick slider 
// script(src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")

// swiper slider
script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")

// yandex map
//- <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>


script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.js")

// scripts
script(src="js/main.js")