-
	const steps = [
		{ num: 1, title: 'Ознакомительный тур',            text: 'Тур можно провести как онлайн, так и очно. Мы встретим вас в аэропорту, предоставим трансфер, познакомим с городом и интересующими объектами недвижимости'},
		{ img: 'step-2.png', title: 'Выбор объекта и варианта оплаты', text: 'Застройщиком предоставляется беспроцентная рассрочка с первоначальным взносом 50%'},
		{ img: 'step-3.png', title: 'Подписание договора',            text: 'В договоре между компанией застройщика и покупателем прописываются все условия покупки'},
		{ img: 'step-4.png', title: 'Оплата договора',                text: 'Оплата производится согласно условиям договора через банковский перевод на счет застройщика'},
		{ img: 'step-5.png', title: 'Получение ИНН',                  text: 'При покупки недвижимости вам потребуется получить индивидуальный налоговый номер на территории Турции'},
		{ img: 'step-6.png', title: 'Оформление собственности',       text: 'При покупке недвижимости вы получаете ИНН и получаете документ на собственность (ТАПУ)'},
		{ img: 'step-7.png', title: 'Внесение первого взноса',        text: 'Оплата производится на расчетный счет застройщика согласно договору'},
		{ img: 'step-8.png', title: 'Финальный этап - получение ВНЖ', text: 'Оформление техпаспорта Искан на предоставление коммунальных услуг и получение ВНЖ'}
	]

section#steps.steps 
	.container 
		h6.section-title.steps__title 
			b Этапы покупки
		.steps__slider.swiper 
			.swiper-wrapper 
				each item, i in steps
					article.step.swiper-slide 
						.step__num= `0${i+1}`
						if item.num !== 1
							img.step__img(src="img/"+item.img, alt="")
						h6.step__title= item.title 
						p.step__text.text !{item.text}
						if item.num === 1
							button.step__button.button(data-popup="popup" data-src="#modal-form") Записаться на онлайн-тур
		.swiper-pagination
