.home{
	height: 870px;
	padding-top: 227px;
	background: url('../img/bg-home.jpg') center center/cover no-repeat;
	
	@media(max-width: 992px){
		height: auto;
		padding-top: 150px;
	}
	&__box{
		display: flex;
		flex-direction: column;
		height: 100%;
		@media(max-width: 992px){
			text-align: center;
		}
	}
	&__title{
		margin-bottom: 25px;
		font-size: 55px;
		font-weight: 300;
		line-height: 75px;
		color: var(--color-white);
		@media(max-width: 992px){
			font-size: 35px;
			line-height: 48px;
		}
	}
	&__tagtitle{
		margin-bottom: 52px;
		font-size: 24px;
		font-weight: 300px;
		line-height: 33px;
		color: var(--color-white);
		@media(max-width: 992px){
			margin-bottom: 40px;
			font-size: 18px;
			line-height: 25px;
		}
	}
	&__button{
		@include button(270px, 64px, 16px);
		@media(max-width: 992px){
			margin: 0 auto;
		}
	}
	&__advantages{
		display: flex;
		margin-top: auto;
		@media(max-width: 992px){
			flex-direction: column;
		}
	} 
	&__advantage{
		padding-top: 53px;
		padding-bottom: 53px;
		padding-left: 30px;
		padding-right: 30px;
		width: 25.633%;
		font-weight: 300;
		line-height: 18px;
		color: var(--color-white);
		border-right: 1px solid rgba(255, 255, 255, 0.25);
		&:first-child{
			width: 23.1%;
			padding-left: 0;
			padding-right: 60px;
			@media(max-width: 992px){
				width: 100%;
				padding-left: 20px;
				padding-right: 20px;
			}
		}
		@media(max-width: 992px){
			width: 100%;
			padding-top: 30px;
			padding-bottom: 30px;
			padding-left: 20px;
			padding-right: 20px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.25);
			border-right: none;
		}
	}
}