.record{
	padding-top: 80px;
	&__title{
		margin-bottom: 15px;
		text-align: center;
	}
	&__tagtitle{
		margin-bottom: 30px;
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		@media(max-width: 768px){
			font-size: 14px;
		}
	}
	&__box{
		display: flex;
		align-items: flex-start;
		width: 100%;
		padding: 40px;
		border-radius: 20px;
		background: url('../img/bg-form.png') -12px 0/cover no-repeat;
		box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.3);
		@media(max-width: 768px){
			flex-direction: column;
			padding: 10px;
		}
	}
	&__innertitle{
		margin-bottom: 22px;
		font-size: 20px;
		line-height: 27px;
		color: var(--color-black-gray);
	}
	&__list{
		padding-left: 33px;
	}
	&__item{
		position: relative;
		margin-bottom: 21px;
		&:before{
			content: '';
			position: absolute;
			top: calc(50% - 25%);
			left: -34px;
			width: 14px;
			height: 14px;
			background: url('../img/icon-check-2.svg') center center/contain no-repeat;
		}
	}
	&__info{
		margin: 0 165px 0 auto;
		@media(max-width: 768px){
			margin: 0;
		}
	}
}

.record-form{
	flex-shrink: 0;
	width: 300px;
	@media(max-width: 768px){
		width: 100%;
	}
	&__title{
		margin-bottom: 26px;
		text-align: center;
	}
}