<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Site 
	body
		//- mixins
		include ./../mixins/_mixin1.pug
		include ./../mixins/_mixin2.pug
		include ./../mixins/_mixin3.pug
		include ./../mixins/_mixin4.pug
		include ./../mixins/_mixin5.pug
		// ======================================== HEADER
		include ./../sections/_header.pug
		// ======================================== HOME
		include ./../sections/_home.pug
		// ======================================== QUIZ
		include ./../sections/_quiz.pug
		// ======================================== OBJECTS
		include ./../sections/_objects.pug
		// ======================================== ADVANTAGES
		include ./../sections/_advantages.pug
		// ======================================== GUARANTEE
		include ./../sections/_guarantee.pug
		// ======================================== RECORD
		include ./../sections/_record.pug
		// ======================================== STEPS
		include ./../sections/_steps.pug
		// ======================================== REVIEWS
		include ./../sections/_reviews.pug
		// ======================================== APPLICATION
		include ./../sections/_application.pug
		// ======================================== FAQ
		include ./../sections/_faq.pug
		// ======================================== ABOUT
		include ./../sections/_about.pug
		// ======================================== CONTACTS
		include ./../sections/_contacts.pug
		// ======================================== FOOTER
		include ./../sections/_footer.pug
		// ======================================== SCRIPTS
		include ./../sections/_scripts.pug