<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Site | Page 3
	body

		include ./../sections/_header.pug

		h1 Page 3

		include ./../sections/_footer.pug

		include ./../sections/_scripts.pug